/* Add this CSS code to your stylesheet */
table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
 .action-buttons button {
  margin-right: 8px; /* Adjust the space between buttons */
  padding: 5px 10px; /* Padding inside the buttons */
  cursor: pointer; /* Changes the cursor to a pointer on hover */
}

/* Optional: Add classes for individual button colors or styles */
.update-button {
  background-color: #5157d4; /* Green */
  color: white;
}

.delete-button {
  background-color: #ba625c; /* Red */
  color: white;
}

.report-button {
  background-color: #ddf93d; /* Light gray */
  color: rgb(255, 255, 255);
}

 
  