body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.content-form {
  margin: 0 100px 100px 250px;
  width: 1000px;
  padding: 20px;
}

.form-group {
  margin-bottom: 15px;
  padding: 5px;
}

.form-label {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 15px;
  transition: border-color 0.15s ease-in-out;
  background-color: #eaeaea;
}

.form-control:focus {
  border-color: #80bdff;
  outline: 0;
}

.btn-primary {
  color: #fff;
  background-color: #232279;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 15px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

.btn-primary:hover {
  background-color: #1f1e55;
}

h1 {
  font-size: 30px;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .content-form{
    flex-direction: column; /* Change flex direction to column */
  }
  
  .content-form {
    width: 80%; /* Adjust width for smaller screens */
    height: auto; /* Let the height adjust automatically */
  }
}

@media screen and (max-width: 480px) {
  .content-form {
    width: 90%; /* Further adjust width for smaller screens */
  }
}
