
h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  max-width: 400px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
textarea,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.create-button {
    background-color: #6c63ff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin-left: 150px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  
 .image {
    background-image: url('../Assets/newproject.jpg');
   
    background-size: left;
    background-repeat: no-repeat;
    background-position: left;
    position:fixed;
    top: 40px;
    left: 760px;
    width: 100%;
    height: 80vh;

    
  }
  
  