/* Style for the form container */
form {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #a29c9c;
  }
  
  /* Style for form elements */
  input[type="text"],
  input[type="number"],
  input[type="date"],
  button {
    width: 100%;
    padding: 10px;
    margin: px 0;
    display: inline-block;
    border: 1px solid #6f6464;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  /* Style for the submit button */
  button {
    width:auto;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    /* Add this CSS to your stylesheet */

    display: block;
    margin: 0 auto; /* Centers the button horizontally */
  
  
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  /* Style for labels */
  label {
    margin-top: 10px;
    display: block;
    font-weight: bold;
  }
  
  /* Additional styles for heading */
  h1 {
    text-align: center;
    color: #435892;
  }
  