
  /* Vehicle.css */

.delete-button {
    background-color: rgb(255, 0, 0);
    color: white;
  }
  
  .delete-button:hover {
    background-color: darkred;
  }
  
  
  .update-button {
    background-color: rgb(0, 255, 21);
    color: white;
  }
  
  .update-button:hover {
    background-color: darkred;
  }

  .report-button {
    background-color: rgb(25, 0, 255);
    color: white;
  }
  
  .report-button:hover {
    background-color: darkred;
  }