
  /* Vehicle.css 

.delete-button {
    background-color: rgb(255, 0, 0);
    color: white;
  }
  
  .delete-button:hover {
    background-color: darkred;
  }
  
  
  .update-button {
    background-color: rgb(0, 255, 21);
    color: white;
  }
  
  .update-button:hover {
    background-color: darkred;
  }

  .report-button {
    background-color: rgb(25, 0, 255);
    color: white;
  }
  
  .report-button:hover {
    background-color: darkred;
  }



/* Background image */
/*
.imagedash{
    background-Image: url('../Assets/worker-driving.jpg');  
    position: 'absolute';
    bottom: '0';
    right: '5px';
    width: '450px';
    height: '300px';
    background-Size: 'cover';
    background-Repeat: 'no-repeat';
    z-Index: '-1';
}

*/