.content-lv {
  display: flex;
  flex-wrap: wrap; 
  padding: 20px;
  max-width: 1100px;
  margin: 150px 100px 100px 250px;
}

.content-lv div {
  background-color: #d9d9d9;
  align-items: center;
  margin: 20px;
  border-radius: 25px;
  padding: 20px;
  height: 200px;
  flex: 1; 
}

@media screen and (max-width: 768px) {
  .content-lv {
    flex-direction: column; 
  }
  
  .content-lv div {
    width: 80%;
    height: auto; 
  }
}

@media screen and (max-width: 480px) {
  .content-lv div {
    width: 90%;
  }
}
